body {
    margin: 0;
    background-color: #40444a;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.mainContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 90%;
}